body {
    background: black !important; 
     overflow: hidden; 
    margin: 0;
  }

  
  
  .button-class {
    width: 180px;
   display: inline-table; 
     margin: 5% 20px;
    padding: 20px 0px; 
     text-align: center; 
    font-family: Arial;
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    text-decoration: none;
    letter-spacing: 1.5px;
    background: navy;
    color: #fff;
    /* position: absolute; */
  }
  
  .btn-holder { 
    position: absolute ;
    bottom: 15%;
    left: 42%; 
   }
  
  .grid-container {
    display: grid;
    column-gap: 50px;
    /* grid-template-columns: auto auto auto; */
    background-color: #44f321;
    padding: 10px;
    
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: auto;
  }
  .health-bar .bar {
    background:purple;
    width: 100%;
    height: 10px;
    position: relative;
    transition: width 0.5s linear;
  }
  .health-bar .bar .hit {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    transition: width 0.5s linear;
  }

  